<%=link_to user_post_path(id:post.id) do%>
<section class="user-info">
<h4><%=post.title%></h4>
 <p>
   <%= 
     post.text.length > 100 && post.text + "..."
     post.text unless post.text.length > 100 
   %>   
</p>
 <small>
    Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%>       
</small> 
</section>
<%end%>
